{% extends 'base.html.twig' %}

{% block title %}Listing all produce item!{% endblock %}

{% block body %}


<ul>

{% for ProduceItem in ProduceItem %}

  <li id="{{ProduceItem.id}}"> {{ProduceItem.id}}{{ProduceItem.Icon}} {{ProduceItem.name}}  {{ProduceItem.getExpirationDate|date('Y/m/d')}}
    <a href="{{ path('edit_produce', {id: ProduceItem.id})}}"></a>
      <i class="fas fa-pencile-alt text-primary"></i>
    <span data-url={{path('delete_produce', {id:ProduceItem.id})}} id="{{ProduceItem.id}}">
      <i class="fas fa-trash-alt text-danger"></i>
    </span>
  </li>

{% endfor %}

</ul>

{% endblock %}

{% block javascripts %}
{{ parent() }}
<script>
$(document).ready(function(){
  $('ul li ').click(function(e) {
    let produce_id = $(this).attr('id')

    $.ajax({
      url: $(this).data('url'),
      method: 'DELETE'
    }).done(function() {
      $('#'+produce_id).hide();
    });
  })
});
</script>
{% endblock %}
