
{% extends 'base.html.twig' %}

{% block title %}Adding a new item{% endblock %}

{% block body %}



<div>

  {{ form_start(task_form) }}



  <div class="form-group">

  {{form_label(task_form.name)}}

  {{form_widget(task_form.name, {'attr': {'class': 'form-control'}})}}

  </div>



  <div class="form-group">

  {{form_label(task_form.expiration_date) }}

  {{ form_widget(task_form.expiration_date, {'attr': {'class': 'form-control'}}) }}

  </div>

  <div class="form-group">

  {{form_label(task_form.icon) }}

  {{ form_widget(task_form.icon) }}

  </div>





  <div>

    {{form_widget(task_form.save, { 'attr': {class : 'btn btn-primary'}, 'label': label })}}

  </div>



  {{ form_end(task_form) }}



</div>



{% endblock %}
